<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		
		<title>Tankwars</title>
		
		<link type="text/css" rel="stylesheet" href="/css/main.min.css">
	</head>
	<body style="margin:0;">
		<script src="/socket.io/socket.io.js"></script>
		<script src="/three.js/three.js"></script>
		<script src="/js/ColladaLoader.js"></script>
		<script src="/js/socket.js"></script>
		<script src="/js/event.js"></script>
		<script src="/js/bum.js"></script>
		<script src="/js/tank.js"></script>
		<script src="/js/scene.js"></script>
	</body>
</html>